{% extends "userPanel/UserPanelLayout.html.twig" %}
{% set user = user %}
{% block userPanelContent %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Historia zamówień</div>
                    <div class="panel-body">
                    <table class="table">
        <tr>
            <td>PRODUKTY</td>
            <td>CENA</td>
        </tr>
        {% for order in orders %}
            <tr>
                <td>
                <table class="table">
                {% for  product in order.getProducts() %}
                <tr>
                <td>{{ product.getName() }}</td>
</tr>
                {% endfor %}
</table>
</td>
                <td>{{ order.totalCost }} zł</td>
            </tr>
        {% endfor %}
    </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}