.jumbotron{
    color:#fff;
    height:400px;
    background-image: url(../images/jumbotron_background.jpg);
    background-position: center;
    text-align:center;
}
footer{
    color:#fff;
    text-align: center;
}
login-form{
    text-align: center;
    margin: 0 auto 0 auto;
}