{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link href="{{asset('css/custom.css')}}" rel="stylesheet" />
{% endblock %}

{% block body %}
{% block nav %}
{% endblock %}
<div class="jumbotron">
<div class="container">
<h1>Sklep rowerowy BikeCenter!</h1>
<p><h4>Witamy na stronie internetowej naszego sklepu</h4></p>
<br>
<p><a href="{{ path('about') }}" class="btn btn-primary btn-lg" role="button">więcej o nas</a></p>
</div>
</div>
{% block content %}
{% endblock %}
{% block footer %}
<footer>
<nav class="navbar navbar-default">
<div class="container">
<div class="row">
<div class="col-md-12>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="#">strona główna <span class="sr-only">(current)</span></a></li>
<li><a href="#">kontakt</a></li>
</ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
Copyright © <a href="#">Sklep rowerowy BikeCenter</a><br>
realizacja: Karol Skóra
</div>
</nav>
</footer>
{% endblock %}
{% endblock %}
